<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="account-wall">
    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
     alt="">
    <form class="form-signin" name="loginForm" #form="ngForm" (ngSubmit)="captureLoginDetail()"  novalidate>
    <input type="text" class="form-control" placeholder="Email" name="Email" [(ngModel)]="user.Email" required autofocus>
    <input type="password" class="form-control" placeholder="Password" name="Password" [(ngModel)]="user.Password" required>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid" type="submit">Sign in</button>
    </form>
    </div>
    <br>
    </div>
    </div>
</div>